___


# Python Crash Course
___

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types  
* Math Operation
* Comparison Operators
* Conditional Statements And Boolean Operations
* Lists
* Tuples 
* Strings
* Dictionaries
* Sets
* Functions
* Loops
* range()
* list comprehension
* Exception Handling
* lambda expressions
* map and filter
* methods
* Object Oriented Programing
____

## Datatypes

In [1]:
type(2)

int

In [2]:
type("2")

str

In [3]:
type(2.2)

float

In [4]:
type(True)

bool

In [5]:
type(None)

NoneType

In [6]:
isinstance(2.0, int)

False

In [7]:
isinstance(2.0, (int,float))

True

In [8]:
float(2)

2.0

In [9]:
int(2.0)

2

In [10]:
str(2)

'2'

In [13]:
bool(0)

False

In [12]:
bool(None)

False

In [14]:
bool('')

False

In [15]:
bool(2)

True

In [16]:
bool('two')

True

In [17]:
bool([2])

True

# Math Operation

In [20]:
10+4 # add (returns 14)
10*4 # multiply (returns 40)
10-4 # subtract (returns 6)
10**4 # exponent (returns 10000)
10/4 # divide (returns 2 because both types are 'int')
10/float(4) # divide (returns 2.5)
5%4 # modulo (returns 1) - also known as the remainder

1

# Comparison and Boolean operations

In [23]:
# comparisons (these return True)
5 > 3
5 >= 3
5 != 3
5 == 5

True

# Conditional statements

In [26]:
x =3
#if else statement

if x>0:
    print('positive')
else:
    print('Zero or Negative')

positive

In [27]:
# if/elif/else statement

if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [30]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

# List

In [33]:
#Two ways to create empty list

empty_list = []
empty_list = list()

In [43]:
friuts = ['mango' , 'apple', 'guva']
friuts[0]

'mango'

In [39]:
len(friuts)

3

In [44]:
friuts.append('grapes') #append element at end of the list but we can only one element
friuts

['mango', 'apple', 'guva', 'grapes']

In [47]:
another_friuts = ['orange','pineapple']
friuts.extend(another_friuts) # append multiple elements to end
friuts

['mango',
 'apple',
 'guva',
 'grapes',
 'orange',
 'pineapple',
 'orange',
 'pineapple']

In [48]:
friuts.insert(1 , 'dates') # insert element at index 0 (shifts everything right)
friuts

['mango',
 'dates',
 'apple',
 'guva',
 'grapes',
 'orange',
 'pineapple',
 'orange',
 'pineapple']

In [49]:
friuts.remove('guva')
friuts

['mango',
 'dates',
 'apple',
 'grapes',
 'orange',
 'pineapple',
 'orange',
 'pineapple']

In [50]:
friuts.pop(0) #removes element 0 and returns it
friuts

['dates', 'apple', 'grapes', 'orange', 'pineapple', 'orange', 'pineapple']

In [51]:
del friuts[0] # removes element 0 (does not return it)

In [52]:
friuts

['apple', 'grapes', 'orange', 'pineapple', 'orange', 'pineapple']

In [53]:
friuts[2] = 'dates' #replace element 2
friuts

['apple', 'grapes', 'dates', 'pineapple', 'orange', 'pineapple']

In [54]:
final_friuts = friuts + another_friuts #concatenating two list
final_friuts

['apple',
 'grapes',
 'dates',
 'pineapple',
 'orange',
 'pineapple',
 'orange',
 'pineapple']

In [59]:
final_friuts.count('pineapple') #returns no of instances

3

In [57]:
final_friuts.index('orange') # returns index of first instance

4

In [60]:
# list slicing [start:end:stride]
weekdays = ['mon','tues','wed','thurs','fri', 'sat']

In [62]:
weekdays[0] #element 0 
weekdays[0:3] # elements 0, 1, 2
weekdays[:3] # elements 0, 1, 2
weekdays[3:] # elements 3, 4, 5
weekdays[-1] # last element (element 5)
weekdays[::2] # every 2nd element (0, 2, 4)
weekdays[::-1] # backwards (5, 4, 3, 2, 1, 0)

['sat', 'fri', 'thurs', 'wed', 'tues', 'mon']

In [63]:
# alternative method for returning the list backwards
list(reversed(final_friuts))

['pineapple',
 'orange',
 'pineapple',
 'orange',
 'pineapple',
 'dates',
 'grapes',
 'apple']

In [65]:
# sort a list in place (modifies but does not return the list)
final_friuts.sort()
final_friuts.sort(reverse=True)
final_friuts.sort(key=len)

In [66]:
# return a sorted list (but does not modify the original list)
sorted(final_friuts)
sorted(final_friuts, reverse=True)
sorted(final_friuts, key=len)

['dates',
 'apple',
 'orange',
 'orange',
 'grapes',
 'pineapple',
 'pineapple',
 'pineapple']

# Tuples

Like lists, but they don’t change size properties: ordered, iterable, immutable, can contain
multiple data types

In [79]:
# create a tuples in two ways
digits = (1,'two',3)
digits = tuple([1,'two',3])

In [69]:
digits[2]

3

In [70]:
digits[1]

'two'

In [72]:
digits.count(1)

1

In [73]:
digits.index('two')

1

In [74]:
len(digits)

3

In [80]:
digits = digits + (4,5) # concatenate tuples

In [81]:
digits

(1, 'two', 3, 4, 5)

In [82]:
(3,4)* 3 # create a single tuple with elements repeated (also works with lists)

(3, 4, 3, 4, 3, 4)

# Strings

Properties: iterable, immutable

In [88]:
#create a string in two ways

s =  '42'
s = str('I Like You')

In [89]:
s[0]

'I'

In [90]:
len(s)

10

In [92]:
s[:6]

'I Like'

In [93]:
s[7:]

'You'

In [94]:
s[1]

' '

In [95]:
s.lower()

'i like you'

In [96]:
s.upper()

'I LIKE YOU'

In [97]:
s.startswith('O')

False

In [98]:
s.endswith('u')

True

In [99]:
s.isdigit()

False

In [100]:
s.find('Like')

2

In [101]:
s.find('hate')

-1

In [102]:
s.replace('Like', 'Hate')

'I Hate You'

In [106]:
s.split(' ')
s.split()

['I', 'Like', 'You']

In [108]:
s2 = 'a ,ni ,me'
s2.split(',')

['a ', 'ni ', 'me']

In [113]:
stooges = ['larry','curly','moe']
' '.join(stooges)

'larry curly moe'

In [116]:
s3 = 'the meaning of life is'
s4 = '42'
s3+' '+s4 #concate with whitespace

'the meaning of life is 42'

In [119]:
s5 = '    chicken burito      '
s5.strip()  #removes white space from start and end of string

'chicken burito'

In [123]:
# string substitutions: all of these return 'raining cats and dogs'

'raining %s and %s'%('cats', 'dogs')
'rainin {} and {}'.format('cats', 'dogs')
'rainin {d} and {d}'.format(c='cats', d='dogs')

'rainin dogs and dogs'

In [125]:
'pi is {:.2f}'.format(3.14)

'pi is 3.14'

In [127]:
print('go to \n hell') #print string without \n and newline
print(r'go to \n hell') #print raw string with \n

go to \n hell

# Dictionaries

Properties: unordered, iterable, mutable, can contain multiple data types made up of key-value
pairs keys must be unique, and can be strings, numbers, or tuples values can be any type

In [132]:
#creating dictionary in two ways

empty_dict = {}
empty_dict = dict()

family1 = {'dad':'robert' , 'mom' : 'lauren', 'size' : 6}
family = dict(dad = 'robert', mom = 'lauren' , size = 6)
family

{'dad': 'robert', 'mom': 'lauren', 'size': 6}

In [134]:
list_of_tuples = [('dad','robert'), ('mom' , 'lauren'), ('size' , 6)]
family = dict(list_of_tuples)
family

{'dad': 'robert', 'mom': 'lauren', 'size': 6}

In [136]:
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [137]:
family.values()

dict_values(['robert', 'lauren', 6])

In [138]:
family.items()

dict_items([('dad', 'robert'), ('mom', 'lauren'), ('size', 6)])

In [140]:
'mom' in family

True

In [142]:
6 in family #False (only checks keys)

False

In [146]:
family['cat'] = 'snowball ii' #add new entry in dictinary
family['cat'] = 'snowball'  #edit an existing entry
family

{'dad': 'robert',
 'mom': 'lauren',
 'size': 6,
 'kids': ['bob', 'stuart'],
 'cat': 'snowball'}

In [144]:
del family['cat']
family

{'dad': 'robert', 'mom': 'lauren', 'size': 6}

In [145]:
family['kids'] = ['bob', 'stuart']
family

{'dad': 'robert', 'mom': 'lauren', 'size': 6, 'kids': ['bob', 'stuart']}

In [147]:
family.pop('cat')
family

{'dad': 'robert', 'mom': 'lauren', 'size': 6, 'kids': ['bob', 'stuart']}

In [149]:
family.update({'baby':'maggie', 'grandpa':'abe'}) # add multiple entries
family

{'dad': 'robert',
 'mom': 'lauren',
 'size': 6,
 'kids': ['bob', 'stuart'],
 'baby': 'maggie',
 'grandpa': 'abe'}

In [152]:
family['mom']   #returns moms values
family.get('mom') #same thing

'lauren'

In [153]:
family['grandma'] #KeyError

KeyError: 'grandma'

In [154]:
try:
    family['grandma']  #throws error
except KeyError as e:  #handling KeyError for more Detail refer EXCEPTION HANDILING
    print("Error", e)

Error 'grandma'

In [160]:
family.get('grandma','not found') # returns 'not found' (the default)

'not found'

In [ ]:
# accessing a list element within a dictionary
family['kids'][0]

In [162]:
family['kids'].remove('stuart')

In [163]:
family

{'dad': 'robert',
 'mom': 'lauren',
 'size': 6,
 'kids': ['bob'],
 'baby': 'maggie',
 'grandpa': 'abe'}

In [164]:
'youngest child is %(baby)s'%family

'youngest child is maggie'

In [167]:
'youngest child is {baby}'.format(baby = family['baby'])

'youngest child is maggie'

# Sets

Like dictionaries, but with keys only (no values) properties: unordered, iterable, mutable, can
contain multiple data types made up of unique elements (strings, numbers, or tuples)

In [168]:
# creating empty set
empty_set = set()

In [169]:
#create a set in two ways

languages = {'python', 'r', 'java'}  #one way
snakes = set(['cobra', 'viper', 'python']) #another way

In [170]:
len(languages)

3

In [171]:
'python' in languages

True

In [172]:
languages & snakes #intesection

{'python'}

In [173]:
languages | snakes #union

{'cobra', 'java', 'python', 'r', 'viper'}

In [174]:
languages - snakes #set difference

{'java', 'r'}

In [175]:
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [176]:
languages.add('r')

In [177]:
languages

{'java', 'python', 'r', 'sql'}

In [178]:
languages.remove('java')
languages

{'python', 'r', 'sql'}

In [179]:
languages.remove('c') #KeyError

KeyError: 'c'

In [180]:
try:
    languages.remove('c') #throws an error
except KeyError as e:  #handling KeyError for more Detail refer EXCEPTION HANDILING
    print("Error ", e)

Error  'c'

In [181]:
languages.discard('c')

In [182]:
languages.pop()
languages

{'r', 'sql'}

In [185]:
languages.clear()
languages

set()

In [186]:
languages.update('javascript', 'php') # add multiple elements (can also pass a list or set)

In [190]:
sorted(set([9,0,1,2,3]))

[0, 1, 2, 3, 9]