# Functions

In [1]:
#function definition with no argument and no retrun values
def print_txt(): #function definition
    print("this is text")

In [2]:
print_txt()  #function calling

this is text

In [3]:
#funtion definition with one arguments and no return values
def print_this(x):  #one arguments x
    print(x)

In [4]:
print_this(3) #function calling

3

In [5]:
n = print_this(3) #prints 3, but does'nt assign 3 to n
                  #because this func has no return values

3

In [7]:
#funtion with one arg and one return value
def square_this(x): #one arg
    return x**2 #return statement

In [10]:
square_this(3) #return values
var = square_this(3) #return value assigned to var because func has return values
var

9

In [11]:
#default args in function defintion
def power_this(x, power =2):
    return x**power

In [12]:
power_this(2)

4

In [13]:
power_this(3,5) #assign 5 to power argument

243

In [14]:
# use 'pass' as a placeholder if you haven't written the function body
def stub():
    pass

In [15]:
#return two values in single function
def min_max(num):   #single args
    return min(num), max(num) #return 2 values

In [18]:
num = [1,2,5,0]
min_max_num = min_max(num)
min_max_num

(0, 5)

# Loops

In [19]:
#range returns a list of integers
range(0,3)

range(0, 3)

In [21]:
range(3) #starting at zero is the default

range(0, 3)

In [24]:
for i in range(0,10,2): #third argument is 'stride' or 'slice'
    print(i)

0
2
4
6
8

In [33]:
#for loop (not recommended)
friuts = ["banana", "apple", "cherry"]
for i in range(len(friuts)):
    print(friuts[i].upper())

BANANA
APPLE
CHERRY

In [34]:
#alternative for loop (recommended)
for friut in friuts:
    print(friut.upper())

BANANA
APPLE
CHERRY

In [28]:
# use range when iterating over a large sequence to avoid actually creating the integer list in memory
for i in range(10**6):
    pass

In [35]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}

for key,value in family.items():
    print(key,value)

dad homer
mom marge
size 6

In [36]:
#enuemerate can access the index value within loop
for index,friut in enumerate(friuts):
    print(index,friut)

0 banana
1 apple
2 cherry

In [40]:
#for/else loop
for friut in friuts:
    if friut == 'banana':
        print('Banana found at {}'.format(friuts.index(friut)+1))
        break
else:
    print("Cant find the banana")

Banana found at 1

In [43]:
count =0

#while loop
while count<=5:
    print(count)
    count+=1 # equivalent to 'count = count + 1'

0
1
2
3
4
5

## range()

#  List Comprehensions

In [44]:
#for loop to create a list cubes

nums = [1,2,3,4,5]
cubes = [] #empty list to append cubes values from nums list

#basic for loop(not recommended)
for num in nums:
    cubes.append(num**2)

cubes

[1, 4, 9, 16, 25]

In [45]:
#alternatives for loop in list comprehension(recommend in list)
cubes = [num**2 for num in nums]
cubes

[1, 4, 9, 16, 25]

In [48]:
#we can use if condition in list comprehension
friuts = ["banana", "apple", "cherry"]

found = [friut for friut in friuts if friut == "apple"]
found

['apple']

In [53]:
#set Comprehension
unique_lenghts = {len(friut) for friut in friuts}
unique_lenghts

{5, 6}

In [54]:
#dictionary comprehension

friut_lengths = {friut:len(friut) for friut in friuts}
friut_lengths

{'banana': 6, 'apple': 5, 'cherry': 6}

# Exception Handling

Exception Handling will handle the Unexpected error occured during run-time

In [55]:
x = 4
y = 0

try:  #try block
    z = x / y
except Exception as e: #handling exception error
    print("Exception Occured : ",e)
    z = None
    print("z :",z)

Exception Occured :  division by zero
z : None

In [60]:
#we can find type of excetion by using:
x = "4"
y = 0

try:  #try block
    z = x / y
except Exception as e: #handling exception error
    print("Exception type : ",type(e).__name__)
    z = None
    print("z :",z)

Exception type :  TypeError
z : None

In [61]:
#defining user exception
x = 4
y = 0

try:  #try block
    z = x / y
except ZeroDivisionError as e: #handling exception error
    print(" Divisible by zero ")
    z = None
    print("z :",z)

 Divisible by zero
z : None

## Print()

In [1]:
num = 20
name = 'akash'

In [3]:
print("My Name is {}, am {} years old".format(name,num)) #passing values to print() using format()

My Name is akash, am 20 years old

In [4]:
#another way
print("My Name is {one}, am {two} years old".format(one = name,two =num))

My Name is akash, am 20 years old

## Lambda Expression

In [13]:
def times2(var): return var**2 #normal function

In [14]:
times2(10)

100

In [15]:
#lambda function
lambda var : var **2

## Map and Filter

In [5]:
seq = [1,2,3,4,5]

In [6]:
def times2(var): return var**2

In [7]:
times2(2)

4

In [8]:
#map()

map(times2,seq)

In [9]:
list(map(times2,seq))

[1, 4, 9, 16, 25]

In [10]:
# using Lambda Expression
list(map(lambda num : num **2, seq))

[1, 4, 9, 16, 25]

In [11]:
#filter
filter(times2,seq)

In [12]:
list(filter(lambda num : num%2 ==0 , seq))

[2, 4]